<div class="container ">
  <div class="row d-flext justify-content-center">
    <div class="col-12 col-lg-6 ">
      <h1 class=" pt-5 text-center">Reactive Multistep Form</h1>

      <div class="card shadow border-0 mt-5 p-3">

        <div class="card-body">
          <form [formGroup]="userDetails">

            <!-- Step 1 -->
            <div *ngIf="steps == 1">

              <h5 class="text-primary pb-3">User Details</h5>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                <!-- Error Message  -->
                <div class="alert alert-danger "
                  *ngIf="users.firstName.invalid && (users.firstName.dirty || users.firstName.touched)">
                  <span *ngIf="users.firstName.errors?.required">
                    First Name is required.
                  </span>
                  <span *ngIf="users.firstName.errors?.minlength">
                    First Name must be at least 2 characters long.
                  </span>
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                <!-- Error Message  -->
                <div class="alert alert-danger "
                  *ngIf="users.lastName.invalid && (users.lastName.dirty || users.lastName.touched)">
                  <span *ngIf="users.lastName.errors?.required">
                    Last Name is required.
                  </span>
                  <span *ngIf="users.lastName.errors?.minlength">
                    Last Name must be at least 2 characters long.
                  </span>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-select">
                  <option *ngFor="let gender of genders">{{gender}}</option>
                </select>
              </div>
              <button class="btn btn-primary me-3" (click)="nextStep()" [disabled]="userDetails.invalid"> Next </button>
            </div>
          </form>

          <!-- Stpe 2 -->
          <form [formGroup]="contactDetails">
            <div *ngIf="steps == 2">
              <h5 class="text-primary pb-3">Contact Details</h5>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">

                <!-- Error Message  -->
                <div class="alert alert-danger "
                  *ngIf="contacts.email.invalid && (contacts.email.dirty || contacts.email.touched)">
                  <span *ngIf="contacts.email.errors?.required">
                    Email is required.
                  </span>

                </div>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" placeholder="Mobile" formControlName="mobile">

                <!-- Error Message  -->
                <div class="alert alert-danger "
                  *ngIf="contacts.mobile.invalid && (contacts.mobile.dirty || contacts.mobile.touched)">
                  <span *ngIf="contacts.mobile.errors?.required">
                    Mobile is required.
                  </span>
                  <span *ngIf="contacts.mobile.errors?.minlength">
                    Mobile must be at least 8 characters long.
                  </span>
                </div>
              </div>
              <a class="btn btn-warning me-3" (click)="previusStep()"> Previous </a>
              <button class="btn btn-primary me-3" (click)="nextStep()" [disabled]="contactDetails.invalid"> Next
              </button>
            </div>

          </form>

          <!-- Step 3 -->
          <form [formGroup]="addressDetails">
            <div *ngIf="steps == 3">
              <h5 class="text-primary pb-3">Address Details</h5>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"> Address</label>
                <input type="text" class="form-control" placeholder="Address" formControlName="address">
                <!-- Error Message  -->
                <div class="alert alert-danger "
                  *ngIf="addressess.address.invalid && (addressess.address.dirty || addressess.address.touched)">
                  <span *ngIf="addressess.address.errors?.required">
                    Address is required.
                  </span>
                  <span *ngIf="addressess.address.errors?.minlength">
                    Address must be at least 10 characters long.
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">City</label>
                <input type="text" class="form-control" placeholder="City" formControlName="city">
                <!-- Error Message  -->
                <div class="alert alert-danger "
                  *ngIf="addressess.city.invalid && (addressess.city.dirty || addressess.city.touched)">
                  <span *ngIf="addressess.city.errors?.required">
                    City is required.
                  </span>
                  <span *ngIf="addressess.city.errors?.minlength">
                    City must be at least 2 characters long.
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">State</label>
                <select class="form-select" aria-label="Default select example" formControlName="state">
                  <option *ngFor="let state of states" value="state.name">{{state.name}}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Zip</label>
                <input type="text" class="form-control" placeholder="Zipcode" formControlName="zip">
                <!-- Error Message  -->
                <div class="alert alert-danger "
                  *ngIf="addressess.zip.invalid && (addressess.zip.dirty || addressess.zip.touched)">
                  <span *ngIf="addressess.zip.errors?.required">
                    Zipcode is required.
                  </span>
                  <span *ngIf="addressess.zip.errors?.minlength">
                    Zipcode must be at least 5 characters long.
                  </span>
                  <span *ngIf="addressess.zip.errors?.maxlength">
                    Zipcode maximum should be 5 characters long.
                  </span>
                </div>

              </div>
              <a class="btn btn-warning me-3" *ngIf="steps !=1" (click)="previusStep()"> Previous </a>
              <!-- <button class="btn btn-primary me-3" *ngIf="steps !=3" (click)="nextStep()"> Next </button> -->
              <button class="btn btn-primary " (click)="onSubmit()" type="submit" [disabled]="addressDetails.invalid">
                Submit </button>
            </div>


          </form>
        </div>
      </div>

    </div>



  </div>
</div>


<router-outlet></router-outlet>

<footer class="footer">
  <p class="text-center py-3 fw-bold">
    &copy; Rostam Sadiqi 2021
  </p>
</footer>
